<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | <%=posts.config.blogName%></title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/assets/prism.css" />
    <%const marked = require('marked')%>
    <%const html = require('html-format')%>
</head>

<body>
    <aside>
        <div>
            <h1><%=posts.config.ownerName%></h1>
            <p><%=posts.config.description%></p>
        </div>
        <nav>
            <%-html((posts.config.navLinks || []).map(link => `<a href="${link.href}">${link.text}</a>`).join('\n'))%>
        </nav>
    </aside>
    <main>
        <div class="markdown-section">
            <% posts.forEach(function (post) { %>
                <div class="post">
                    <h1><a href="/<%=post.path%>"><%=post.attributes.title%></a></h1>
                    <p class="published">Published on <%=post.attributes.date%></p>
                    <%-post.attributes.cover ? `<img src="${post.attributes.cover}" width=100%/>` : ''%>
                    <p class="preview"><%-marked(post.rawBody.substring(0, 100)).replace(/<[^>]+>/gim, '').replace('\n', '')%>...</p>
                    <a href="/<%=post.path%>">Read more</a>
                </div>
            <% }); %>
        </div>
    </main>
</body>

</html>